body {
    margin: 0%;
}
header {
    text-align: center;
    font-size: 60px;
    margin-top: 10px;
}
#vill {
    background-color: lightsalmon;
    text-align: center;
    width: 500px;
    margin-left: 600px;
}
